<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer id="footer" th:fragment="common_footer">
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-4 mb-4 text-center text-nowrap">
                    <h4 class="fw-bold">Contact Us</h4>
                </div>
                <div class="col-md-4 mb-4 text-center footer-3">
                    <h4 class="fw-bold">Content</h4>
                </div>
                <div class="col-md-4 mb-4 text-center footer-3">
                    <h4 class="fw-bold">Version</h4>
                </div>
            </div>
            <div class="row align-items-center justify-content-around">
                <div class="col-md-4 mb-4 footer-1 text-nowrap">
                    <ul class="contact mt-4 ms-4" style="list-style: none; padding-left: 0px;">
                        <li>
                            <img src="/images/icon/gmail.svg" alt="Mail" width="38px" height="38px" class="me-3"/>
                            ywonp94@gmail.com
                        </li>
                        <li>
                            <img src="/images/icon/phone_ringing_icon.svg" alt="phone" width="38px" height="38px"
                                 class="me-3"/>
                            010-6773-1582
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4 text-center footer-3">
                    <div>
                        <ul class="contact mt-4" style="list-style: none; padding-left: 0px;">
                            <li>이용약관</li>
                            <li>개인정보처리방침</li>
                            <li>
                                <a href="/user/request-add-store">
                                    가게추가요청
                                </a>
                            </li>
                            <li>공지사항</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mb-4 text-center footer-2">
                    <div>
                        <ul class="contact mt-4" style="list-style: none; padding-left: 0px;">
                            <li>1.911 ver</li>
                        </ul>
                    </div>
                </div>
                <a href="#" id="btn_gotop" class="float-end"
                   style="position:fixed; bottom:50px; right:70px; width:40px; height:40px; z-index:1; opacity:0.8;">
                    <img src="/images/icon/top_button.png" style="width:70px; height: 70px;" alt="top-button">
                </a>
            </div>
        </div>
    </div>
</footer>

<th:block th:fragment="common_js(script)">

    <!--
        defer 옵션
        화면 로딩이 다 끝난 시점부터 script를 불러옴
        화면 로딩을 더 빨리 할 수 있는 장점이 있음
        로딩할 페이지에 script 기능이 필요한 경우 defer 옵션을 사용하면 정상적으로 작동하지 않을 수 있음
            (아래의 카카오맵의 경우 defer를 걸어버리면 다른 스크립트와 호출 순서에 문제가 생겨 버그 발생)
     -->

    <!--  npm - axios 경로 -->
    <script defer th:src="@{/node_modules/axios/dist/axios.js}"></script>

    <!-- 다음 우편 번호 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- fontAwesome -->
    <script defer src="https://kit.fontawesome.com/ba4b7b559a.js" crossorigin="anonymous"></script>

    <!-- jQuery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- tagify -->
    <script defer th:src="@{/node_modules/@yaireo/tagify/dist/tagify.js}"></script>
    <script defer th:src="@{/node_modules/@yaireo/tagify/dist/tagify.polyfills.min.js}"></script>

    <!-- bootstrap js   -->
    <script defer th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>

    <!-- 사이드바 js   -->
    <script defer th:src="@{/js/sidebars.js}"></script>

    <!-- slick   -->
    <script defer th:src="@{/plugin/slick/slick.min.js}"></script>

    <!-- Request 캐시 삭제 -->
    <script type="module" th:src="@{/js/login.js}"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('.btn_gotop').show();
            } else {
                $('.btn_gotop').hide();
            }
        });
        $('.btn_gotop').click(function () {
            $('html, body').animate({scrollTop: 0}, 400);
            return false;
        });
    </script>
</th:block>

</html>