<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title, style)">
    <meta name="viewport"
          content="width=device-width initial-scale=1.0 text/html; charset=UTF-8"
          http-equiv="Content-Type">

    <meta name="description"
          content="현재 위치하는 주변의 핫플레이스를 기호와 날씨에 맞게 추천해드립니다.">

    <title th:replace="${title}">우리 동네</title>
    <style th:replace="${style}">

    </style>

    <!--  공통 카카오맵 API -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=41d607d49af431e65df64d51940ccfc7&libraries=services,clusterer,drawing"></script>

    <!-- Bootstrap - 5.2.2 -->
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">

    <!-- 별도의 css 파일 -->
    <link rel="stylesheet" th:href="@{/css/sidebars.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">

    <!-- tagify -->
    <link rel="stylesheet" th:href="@{/node_modules/@yaireo/tagify/dist/tagify.css}">

    <!-- slick (슬라이드) -->
    <link rel="stylesheet" th:href="@{/plugin/slick/slick.css}">
    <link rel="stylesheet" th:href="@{/plugin/slick/slick-theme.css}">

    <!-- fontawesome - 6.1.2 -->
    <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">

    <!-- favicon 설정   -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="144x144"  href="/favicon/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>