spring:
  profiles:
    include: oauth
  messages:
    basename: messages,errors
  mail:
    host: smtp.gmail.com
    port: 587
    username: hansungmoon1002@gmail.com
    password: lxzskrnfkjlymqau
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  #  profiles:
  #    active: local
  datasource:
    url: jdbc:mysql://localhost:3306/neighbor?serverTimezone=Asia/Seoul
    username: neighbor
    password: hood
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        #        QueryDSL로 사용된 JPQL 보기
        use_sql_comments: true
        default_batch_fetch_size: 500 # 컬렉션 조회 페이징 및 최적화

file:
  dir: /C:/Users/ywOnp/Desktop/Study/review/file/

default:
  image:
    dir: /C:/Users/ywOnp/Desktop/Study/review/default/defaultImg.png

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace

#naver login 관련
naver:
  token:
    url: https://nid.naver.com/oauth2.0/token?grant_type=authorization_code
  client:
    id: z_c0ETHIqnzInQwcpjLX

