<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<body class="bg-default">
<nav th:replace="layout/navbar :: common_navbar"></nav>
<section class="header">
    <div class="header py-7">

    </div>
</section>
<section class="main">
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/admin/category/add}'|"
                type="button">카테고리 관리
        </button>
    </div>
    <hr class="my-2">
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/admin/store/list}'|"
                type="button">상점 보기
        </button>
    </div>
    <hr class="my-2">
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/admin/member-role/edit}'|"
                type="button">회원 관리
        </button>
    </div>
    <hr class="my-2">
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/seller/store/add}'|"
                type="button">상점 추가
        </button>
    </div>
    <hr class="my-2">
    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/admin/request-add-store-list}'|"
                type="button">가게추가 요청 관리
        </button>
    </div>
</section>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
</body>
</html>