<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>

    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{../css/argon.css}">
<body class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-5">

    </div>
</section>
<section>
    <!-- Page content -->
    <div class="container-fluid mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center mt-2 mb-4">
                            <span class="mb-2 text-dark fw-bold">비밀번호 찾기</span>
                        </div>
                        <form th:object="${findPasswordForm}" id="find-password-form" class="form-floating">
                            <div class="form-group">
                                <small>아이디</small>
                                <div class="">
                                    <input class="form-control" placeholder="아이디를 입력하세요." th:field="*{userId}">
                                    <div id="find-password-userId-valid" class="my-1 valid-custom"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <small>이메일</small>
                                <div class="">
                                    <input class="form-control" placeholder="이메일을 입력하세요." type="email"
                                           th:field="*{email}">
                                    <div id="find-password-email-valid" class="my-1 valid-custom"></div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-main-color mt-4" id="find-password">비밀번호 찾기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/member.js}"></script>
</html>