<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<link rel="stylesheet" th:href="@{../css/argon.css}">
<body id="main-body" class="bg-default">
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!--/* loginForm */-->
<section id="login-form" class="main">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-secondary shadow border-0">
                    <div class="row card-header bg-transparent pb-5">
                        <div class="text-center mt-2 mb-4">
                            <span class="mb-2 text-dark fw-bold fs-4">소셜 미디어로 로그인</span>
                        </div>
                        <div class="text-center my-1">
                            <!--/* 구글 로그인 */-->
                            <a href="/oauth2/authorization/google">
                                <button class='btn-social-login' style='background:#D93025'><i
                                        class="xi-2x xi-google"></i></button>
                            </a>
                            <!--/* 카카오 로그인 */-->
                            <a href="/oauth2/authorization/kakao" class="mx-3">
                                <button class='btn-social-login' style='background:#FFEB00'><i
                                        class="xi-2x xi-kakaotalk text-dark"></i></button>
                            </a>
                            <!--/* 네이버 로그인 */-->
                            <a href="/oauth2/authorization/naver">
                                <button class='btn-social-login' style='background:#1FC700'><i
                                        class="xi-2x xi-naver"></i></button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <span class="mb-2 text-dark fw-bold fs-4">우리 동네 계정으로 로그인</span>
                        </div>
                        <form role="form" th:action="@{/loginSecurity}" th:object="${loginForm}" method="post">
                            <div class="form-group">
                                <div th:if="${error}">
                                    <p class="valid-custom" th:text="${exception}">오류 메시지</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="ID" type="text" th:field="*{userId}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control password" placeholder="Password" type="password"
                                           th:field="*{password}">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-main-color my-4 fw-bold w-100">로그인</button>
                            </div>
                        </form>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <span class="float-start">
                                    <a class="p-2 fw-bold text-dark" href="/sign-up">회원가입</a>
                                </span>
                            </div>
                            <div class="col-8">
                                <span class="float-end">
                                    <a class="p-2 fw-bold text-dark" href="/find-userId">아이디 찾기</a>
                                    <a class="p-2 fw-bold text-dark" href="/find-password">비밀번호 찾기</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
</html>