<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<body id="main-body" class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-5">

    </div>
</section>
<section class="main">
    <div class="container px-0">
        <div class="row store-head">
            <div class="col-6 d-flex">
                <h1 class="my-auto" th:text="|내가 찜한 가게 총 ${count}개|" style="font-size: 2.0rem">나의리뷰</h1>
            </div>
        </div>
        <hr class="my-2">
        <section class="container px-0" th:each="myLike : ${like}">
            <div class="row store-info" style="font-size: 1.5rem">
                <div class="col-12 my-1">
                    <span>가게 이름 : </span>
                    <a th:href="@{/store/{storeId} (storeId = ${myLike.storeId})}"
                       th:text="*{myLike.name}" style="color: #000000">가게 이름</a>
                </div>
                <span class="ms-3 m-auto">
          <th:block th:each="cate : ${myLike.categoryList}">
            <a style="color: #6c757d" href="#" th:text="${cate.categoryName}"></a>
            >
          </th:block>
        </span>
            </div>
            <hr class="my-2">
        </section>
    </div>
</section>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/review.js}"></script>
</body>
</html>