<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<body id="main-body" class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-5">

    </div>
</section>
<section class="main">
    <div class="container px-0" th:object="${memberDetail}">
        <div class="row store-head">
            <div class="col-6 d-flex">
                <h1 class="my-auto" style="font-size: 2.0rem">회원정보</h1>
            </div>
            <div class="col-6">
                <div class="float-end">
                    <button class="btn btn-info" style="font-size: 1.1rem; color: #ffffff"
                            th:onclick="|location.href='@{/user/member-edit}'|">
                        회원정보 수정
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div class="row store-info" style="font-size: 1.5rem">
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <img th:src="*{imgUrl}" width="180" height="180" alt="프로필 사진">
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>아이디 : </span>
                <span th:text="*{userId}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>이름 : </span>
                <span th:text="*{username}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>닉네임 : </span>
                <span th:text="*{nickname}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>이메일 : </span>
                <span th:text="*{email}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-square-phone main-color fa-sm"></i>
                <span>전화 번호 : </span>
                <span th:text="*{phoneNumber}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>나이 : </span>
                <span th:text="*{age}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>생일 : </span>
                <span th:text="*{birthDate}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot main-color fa-sm"></i>
                <span>성별 : </span>
                <span th:if="${memberDetail.gender != 0}">여자</span>
                <span th:if="${memberDetail.gender == 0}">남자</span>
            </div>
        </div>
        <div class="col-6">
            <div class="float-end">
                <button class="btn btn-info" style="font-size: 1.1rem; color: #ffffff"
                        th:onclick="|location.href='@{/user/member-edit/review}'|">
                    내가 쓴 리뷰 관리
                </button>
            </div>
            <div class="float-end">
                <button class="btn btn-info" style="font-size: 1.1rem; color: #ffffff"
                        th:onclick="|location.href='@{/user/my-like}'|">
                    내 찜 목록
                </button>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})">
</script>
</body>
</html>