<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body class="bg-default">
<nav th:replace="layout/navbar :: common_navbar"></nav>
<section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<section class="main">
    <div class="container px-0" th:object="${memberDetail}">
        <div class="row store-head">
            <div class="col-6 d-flex">
                <h1 class="my-auto" style="font-size: 2.0rem" >회원정보</h1>
            </div>
            <div class="col-6">
                <div class="float-end">
                    <button class="btn btn-info" style="font-size: 1.1rem; color: #ffffff"
                            th:onclick="|location.href='@{/user/member_edit}'|">
                        회원정보 수정
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div class="row store-info" style="font-size: 1.5rem">
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>아이디 : </span>
                <span th:text="*{userId}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>이름 : </span>
                <span th:text="*{username}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>닉네임 : </span>
                <span th:text="*{nickname}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>이메일 : </span>
                <span th:text="*{email}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-square-phone orange fa-sm"></i>
                <span>전화 번호 : </span>
                <span th:text="*{phoneNumber}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>나이 : </span>
                <span th:text="*{age}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>생일 : </span>
                <span th:text="*{birthDate}"></span>
            </div>
            <div class="col-12 my-1">
                <i class="fa-solid fa-map-location-dot orange fa-sm"></i>
                <span>성별 : </span>
                <span th:if="${memberDetail.gender != 0}">여자</span>
                <span th:if="${memberDetail.gender == 0}">남자</span>
            </div>
        </div>
        <div class="col-6">
            <div class="float-end">
                <button class="btn btn-info" style="font-size: 1.1rem; color: #ffffff"
                        th:onclick="|location.href='@{/user/member_edit/review}'|">
                    내가 쓴 리뷰 관리
                </button>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})">
</script>
</body>
</html>