<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{../css/argon.css}">
<body class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<!-- Header -->
<section class="header">
    <div class="header py-5">

    </div>
</section>
<!-- Page content -->
<!-- Table -->
<section class="sign-up">
    <div class="container-fluid mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-3">
                        <div class="text-dark text-center fw-bold mt-2 mb-4">회원가입</div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form th:object="${dto}" id="sign-up-add-form" class="form-floating">
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="아이디" type="text" th:field="*{userId}">
                                </div>
                                <div id="sign-up-userId-valid" class="my-1 valid-custom"></div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="비밀번호" type="password"
                                           th:field="*{password}">
                                </div>
                                <div id="sign-up-password-valid" class="my-1 valid-custom"></div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="비밀번호 확인" type="password"
                                           th:field="*{passwordCheck}">
                                </div>
                                <div id="sign-up-passwordCheck-valid" class="my-1 valid-custom"></div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="이메일" type="email" th:field="*{email}">
                                </div>
                                <div id="sign-up-email-valid" class="my-1 valid-custom"></div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="이름" type="text" th:field="*{username}">
                                </div>
                                <div id="sign-up-username-valid" class="my-1 valid-custom"></div>
                            </div>
                            <div class="form-group d-flex text-nowrap">
                                <div>
                                    <input type="radio" th:checked="*{gender eq 0}" th:field="*{gender}" th:value="0">
                                    <label th:for="gender" th:text="남 " class="form-check-label"></label>
                                </div>
                                <div>
                                    <input type="radio" th:field="*{gender}" th:value="1">
                                    <label th:for="gender" th:text=" 여" class="form-check-label"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="닉네임" type="text" th:field="*{nickname}"
                                           th:errorclass="field-error">
                                    <div id="sign-up-nickname-valid" class="my-1 valid-custom"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="생년월일 예)20001212" type="text"
                                           th:field="*{birthDate}">
                                    <div id="sign-up-birthDate-valid" class="my-1 valid-custom"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex">
                                    <input th:field="*{phoneNumber}" class="form-control"
                                           placeholder="전화번호 예)01012341234" type="text">
                                    <button type="button" class="text-center btn btn-main-color ms-3"
                                            style="height: 3rem" id="send-SMS">인증번호 받기
                                    </button>
                                </div>
                                <div id="sign-up-phoneNumber-valid" class="my-1 valid-custom"></div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <input class="form-control" placeholder="인증번호" type="text"
                                           th:field="*{certifiedNumber}">
                                    <div id="sign-up-certifiedNumber-valid" class="my-1 valid-custom"></div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" class="btn btn-main-color mt-4" id="sign-up-save">회원가입</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/member.js}"></script>

</html>