<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<!--addForm-->
<section class="main">
    <div class="container-fluid mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4 fs-2">매장 정보 등록</div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form id="store-add-form"  class="form-floating" th:object="${store}">
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{name}" th:errorclass="input-error" class="form-control"
                                           placeholder="매장 이름을 입력해주세요." type="text">
                                    <div class="input-error" th:errors="*{name}"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="mb-3">
                                    <input th:field="*{zipcode}" th:errorclass="input-error" class="form-control zipcode"
                                           placeholder="우편 번호" type="text"
                                           readonly>
                                    <div class="input-error" th:errors="*{zipcode}"></div>
                                </div>
                                <button type="button" onclick="openPostcode()" class="text-center btn btn-orange ms-3"
                                        style="height: 3rem">우편 번호 찾기
                                </button>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{roadAddr}" th:errorclass="input-error" class="form-control roadAddr"
                                           placeholder="도로명 주소" type="text"
                                           readonly>
                                    <div class="input-error" th:errors="*{roadAddr}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{numberAddr}" th:errorclass="input-error" class="form-control numberAddr"
                                           placeholder="지번 주소"
                                           type="text">
                                    <div class="input-error" th:errors="*{numberAddr}"></div>
                                </div>
                            </div>
                            <span id="guide" style="color:#999;display:none"></span>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{detail}" class="form-control" placeholder="상세 주소" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{lat}" class="form-control" type="hidden">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{lon}" class="form-control" type="hidden">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{phoneNumber}" class="form-control" placeholder="매장 전화 번호"
                                           type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{intro}" class="form-control" placeholder="매장 소개" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{notice}" class="form-control" placeholder="매장 공지" type="text">
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="me-3">
                                    <label for="openingTime" class="m-auto fw-light px-2" style="font-size: 1rem">영업
                                        시작</label>
                                    <input th:field="*{openingTime}" th:errorclass="input-error" class="form-control"
                                           type="time">
                                    <div class="input-error" th:errors="*{openingTime}"></div>
                                </div>
                                <div class="ms-3">
                                    <label for="closingTime" class="m-auto fw-light px-2" style="font-size: 1rem">영업
                                        종료</label>
                                    <input th:field="*{closingTime}" th:errorclass="input-error" class="form-control"
                                           type="time">
                                    <div class="input-error" th:errors="*{closingTime}"></div>
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="me-3" style="width: 100%">
                                    <label for="breakStart" class="m-auto fw-light px-2" style="font-size: 1rem">
                                        휴식 시작 (없으면 비워두세요)</label>
                                    <input th:field="*{breakStart}" th:errorclass="input-error"
                                           class="form-control input-time" type="time">
                                </div>
                                <div class="ms-3" style="width: 100%">
                                    <label for="breakEnd" class="m-auto fw-light px-2" style="font-size: 1rem">
                                        휴식 종료 (없으면 비워두세요)</label>
                                    <input th:field="*{breakEnd}" th:errorclass="input-error"
                                           class="form-control input-time" type="time">
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="input-group input-group-alternative">
                                    <select id="main-cate" name="categoryId" class="form-select">
                                        <option value="">대분류 선택</option>
                                    </select>
                                    <select id="mid-cate" name="categoryId" class="form-select">
                                        <option value="">중분류 선택</option>
                                    </select>
                                    <select id="sub-cate" name="categoryId" class="form-select">
                                        <option value="">소분류 선택</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="flex-wrap mb-2">
                                    <h5 style="display: inline">휴무일 선택</h5>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div th:each="day : ${offDays}"
                                         class="custom-control custom-checkbox mb-3 me-3">
                                        <input class="custom-control-input" type="checkbox"
                                               th:field="${store.offDays}" th:value="${day.value}">
                                        <label class="custom-control-label"
                                               th:for="${#ids.prev('offDays')}" th:text="${day.key}">일</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="store-save" type="button" class="btn btn-orange mt-4 float-end">매장 등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:src="@{/js/postcode.js}"></script>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/store.js}"></script>

</html>