<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>

    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{../css/aragon.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body class="bg-default">

<!-- Navbar -->
<nav class="arg-navbar navbar navbar-expand-lg navbar-light py-3 sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#" target="_blank">
            우리 동네
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="../index.html">
                            Argon
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbar-collapse-main" aria-controls="sidenav-main"
                                aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Navbar items -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.creative-tim.com/product/argon-dashboard"
                       target="_blank">
                        <i class="ni ni-planet"></i>
                        <span class="nav-link-inner--text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.creative-tim.com/product/argon-dashboard"
                       target="_blank">
                        <i class="ni ni-circle-08"></i>
                        <span class="nav-link-inner--text">Register</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.creative-tim.com/product/argon-dashboard"
                       target="_blank">
                        <i class="ni ni-key-25"></i>
                        <span class="nav-link-inner--text">Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://www.creative-tim.com/product/argon-dashboard"
                       target="_blank">
                        <i class="ni ni-single-02"></i>
                        <span class="nav-link-inner--text">Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header -->
    <section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<!--addForm-->
<section class="add-form">
    <!-- Page content -->
    <div class="container-fluid mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4 fs-2">매장 정보 등록</div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form th:object="${store}" method="post">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{name}" class="form-control" placeholder="매장 이름" type="text">
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{zipcode}" class="form-control" placeholder="우편 번호" type="text">
                                </div>
                                <button type="button" onclick="openPostcode()" class="text-center btn btn-orange ms-3" style="height: 3rem">우편 번호 찾기</button>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{roadAddr}" class="form-control" placeholder="도로명 주소" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{numberAddr}" class="form-control" placeholder="지번 주소" type="text">
                                </div>
                            </div>
                            <span id="guide" style="color:#999;display:none"></span>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{detail}" class="form-control" placeholder="상세 주소" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{lat}" class="form-control" placeholder="위도" type="hidden">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{lon}" class="form-control" placeholder="경도" type="hidden">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{phoneNumber}" class="form-control" placeholder="매장 전화 번호" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="*{intro}" class="form-control" placeholder="매장 소개" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <input th:field="*{notice}" class="form-control" placeholder="매장 공지" type="text">
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="input-group input-group-alternative me-3">
                                    <input th:field="*{openingTime}" class="form-control" placeholder="영업 시작 시간" type="time">
                                </div>
                                <div class="input-group input-group-alternative ms-3">
                                    <input th:field="*{closingTime}" class="form-control" placeholder="영업 종료 시간" type="time">
                                </div>
                            </div>
                            <div class="form-group d-flex">
                                <div class="input-group input-group-alternative me-3">
                                    <input th:field="*{breakStart}" class="form-control" placeholder="휴식 시작 시간" type="time">
                                </div>
                                <div class="input-group input-group-alternative ms-3">
                                    <input th:field="*{breakEnd}" class="form-control" placeholder="휴식 시작 시간" type="time">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-orange mt-4">매장 등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
    <script th:replace="layout/footer :: common_js(~{::script})"></script>
</footer>
<script>

    // 우편 번호 API로 받아온 도로명 주소를 담을 변수
    var addr;
    var lat; // addr의 위도
    var lon; // addr의 경도

    // 카카오맵 geocoder 라이브러리 객체 생성
    var geocoder = new kakao.maps.services.Geocoder();

    function openPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById('roadAddr').value = roadAddr;
                document.getElementById('numberAddr').value = data.jibunAddress;

                addr = roadAddr;

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if (data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if (data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            },

            onclose: function(state) {
                //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
                if(state === 'FORCE_CLOSE'){
                    //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.

                } else if(state === 'COMPLETE_CLOSE'){
                    //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
                    //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.

                    findLatLon();
                }
            }
        }).open();
    }


    function findLatLon() {
        geocoder.addressSearch(addr, (result, status) => {
            if (status === kakao.maps.services.Status.OK) {
                lat = result[0].y
                lon = result[0].x
            }

            document.getElementById("lat").value = lat;
            document.getElementById("lon").value = lon;
        });


    }
</script>
</html>