<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<body>
<nav th:replace="layout/navbar :: common_navbar"></nav>
<h4>스토어 디테일</h4>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>가게명 <button class="btn btn-orange"
            th:onclick="|location.href='@{/menu/addMenu/{storeId}(storeId=${store.storeId})}'|">메뉴 등록</button> </th>
            <th>전화번호</th>
            <th>오픈 시간</th>
            <th>닫는 시간</th>
            <th>쉬는 시간</th>
            <th>쉬는 시간</th>
            <th>소개</th>
            <th>한줄말</th>
            <th>쉬는 날</th>
            <th>상태</th>
            <th>주소</th>
<!--            <th>메뉴</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:object="${store}">
            <td th:text="*{name}"></td>
            <td th:text="*{phoneNumber}"></td>
            <td th:text="*{openingTime}"></td>
            <td th:text="*{closingTime}"></td>
            <td th:text="*{breakStart}"></td>
            <td th:text="*{breakEnd}"></td>
            <td th:text="*{notice}"></td>
            <td th:text="*{intro}"></td>
            <td th:each="day : *{offDays}">
                <div th:text="${day}"></div>
            </td>
            <td th:text="*{status}"></td>
            <td th:text="*{address.roadAddr}"></td>
<!--            <td th:text="${store.menuList}"></td>-->
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:inline="javascript">

</script>
<script th:replace="layout/footer :: common_js(~{::script})">
</script>
</body>
</html>