<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<body id="main-body" class="bg-default">
<nav th:replace="layout/navbar :: common_navbar"></nav>
<section class="header">
    <div class="header py-7">

    </div>
</section>
<section class="store-list-title">
    <div class="py-5">

    </div>
</section>
<section class="store-list">
    <div class="list-container">
        <ul id="store-list" class="store-list list-group">

        </ul>
    </div>
</section>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/recommend_post.js}"></script>
</body>
</html>