<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{../css/argon.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body>
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<!-- Page content -->
<div class="container-fluid mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>회원 수정</small>
                    </div>
                    <form role="form" action="" th:action th:object="${editForm}" method="post">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                               th:text="${err}">전체 오류 메시지</p>
                        </div>
                        <input type="hidden" th:field="*{id}" />
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="nickname" type="text" id="nickname" th:field="*{nickname}"
                                       th:errorclass="field-error">
                                <div class="field-error" th:errors="*{nickname}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                                </div>
                                <input class="form-control" placeholder="email" type="text" id="email" th:field="*{email}"
                                       th:errorclass="field-error">
                                <div class="field-error" th:errors="*{email}" />
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-orange mt-4">회원정보 수정</button>
                        </div>
                    </form>
                    <br>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"
                                th:onclick="|location.href='@{/sign_up/certifiedPhone}'|"
                                type="button">휴대폰 번호 변경</button>
                    </div>
                    <br>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"
                                th:onclick="|location.href='@{/member_edit/password_edit}'|"
                                type="button">비밀번호 변경</button>
                    </div>
                    <br>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg"
                                th:onclick="|location.href='@{/member_edit/confirm_email}'|"
                                type="button">이메일 인증</button>
                    </div>
                    <br>
                    <div class="text-center">
                        <button class="btn btn-orange mt-6"
                                th:onclick="|location.href='@{/member_edit/withdrawal}'|"
                                type="button">회원 탈퇴</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
    <script th:replace="layout/footer :: common_js(~{::script})"></script>
</footer>

</html>