@font-face {
    font-family: "Cafe24Ssurround";
    src: url("../font/Cafe24Ssurround.woff") format("woff");
    /*src: url("../font/SCDream3.woff") format("woff");*/
}

/* Global */
:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --bs-font-sans-serif: "Cafe24Ssurround";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    accent-color: #F01D04;
}

html {
    font-family: "Cafe24Ssurround", serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -ms-overflow-style: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    /*background-color: #f8f9fe;*/
    background-color: #ffffff;
}

input[type=radio] {
    accent-color: #F01D04; !important;
    width: 1.25rem; !important;
    height: 1.25rem; !important;
    vertical-align: middle; !important;
}

.navbar-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    vertical-align: middle;
    background-size: cover;
    background: url("../images/icon/white_hamburger.png") no-repeat center center;
}

.header {
    position: relative;
}

.header-margin {
    height: 1vh;
}

.py-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.map-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bg-secondary {
    background-color: #f7fafc !important;
}

.radius-border {
    border: 1px solid #919191;
    border-radius: 5px;
}

.custom-located {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 36px;
    height: 36px;
    overflow: hidden;
    z-index: 1;
    background-color: #f5f5f5;
}

.custom-located span {
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.custom-located span img {
    width: 34px;
    height: 34px;
    border: none;
    padding-right: 1px;
}

.store-list-item {
    height: 10%;
    background-color: #f8f9fe;
}

.store-item-header {
    height: 75%;
}

.store-way {
    height: 25%;
}

.text-white {
    color: #fff !important;
}

.text-light {
    color: #adb5bd !important;
}

.text-muted {
    color: #8898aa !important;
}

#map-input {
    border: 1px solid #F01D04;
    border-radius: 10px;
}

#thumbnail-img {
    width: 20vh;
    height: 20vh;
}

#mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.5;
    background: #4f5050;
    z-index: 99;
    text-align: center;
}

#mask > img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transition: opacity 1s;
}

::-webkit-scrollbar {
    display: none;
}

.radio-span {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.valid-custom {
    border-color: #ff253a;
    color: #ff253a;
    display: block;
}

/* color까지 지정하면 select 박스의 모든 폰트가 붉어짐*/
.input-error-border {
    border-color: #ff253a;
}

.section-content {
    padding: 4rem 0;

}

.navbar {
    background-color: #F01D04;
}

.navbar li,
.navbar a,
.navbar img {
    color: #ffffff;
}

.nav-font {
    color: #ffffff !important;
    font-weight: bolder;
}

.main-color {
    color: #F01D04 !important;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.btn:disabled {
    opacity: .65;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08), none;
}


.btn-main-color {
    color: #fff;
    border-color: #F01D04;
    background-color: #F01D04;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    font-size: 1.1rem;
}

.btn-main-color:hover {
    color: #fff;
    border-color: #F01D04;
    background-color: #F01D04;
}

.btn-main-color:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(94, 114, 228, .5);
}

.btn-main-color:disabled {
    color: #fff;
    border-color: #F01D04;
    background-color: #F01D04;
}

.btn-main-color:not(:disabled):not(.disabled):active {
    color: #fff;
    border-color: #F01D04;
    background-color: #EBE40D;
}

.btn-main-color:not(:disabled):not(.disabled):active:focus {
    box-shadow: none, 0 0 0 0 rgba(94, 114, 228, .5);
}

.main-divider {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 0.5px solid #DBDBDB;
}

.main-border {
    border: 1px solid #F01D04 !important;
    border-radius: 0.375rem;
}

/* Top Section */
#top {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

/*
    부모인 top section을 relative로 줌
    자식인 overlay에 아래와 같이 스타일 부여
        => 부모인 section과 위치와 크기가 같아짐
*/
#top .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

}

#top .card .overlay {
    background-color: rgba(96, 125, 139, 0.3);
    padding: 1.5rem;
    border-radius: 0.25rem;
    /*transition: all 0.4s ease-in-out;*/
    font-weight: bold;
    color: #fff;
}


#top .search-card {
    border: 1px solid #F01D04 !important;
    transition: all 0.4s ease-in-out;
}

#top .search-div .search-card .btn {
    transition: all 0.4s ease-in-out;
}

/*#top .card .overlay:hover {*/
/*    color: #fff;*/
/*}*/

#top .divider {
    width: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px solid #fff;
}

#top .welcome {
    padding-right: 8rem;
    /*color: #fff;*/
}

#top .gallery-item .card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
    transition: 0.3s ease-in-out;
}

#top .gallery-item .card:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#top .gallery-item:nth-of-type(1) .card {
    background-image: url("../images/port1.jpg");
}

/* 767 아래인 경우로만 동작 (스몰 디바이스 이하)*/
@media screen and (max-width: 767px) {
    #top .welcome {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

#weather .weather-first-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

#weather .weather-first-card .overlay {
    left: 0;
    top: 0;
    background-color: transparent;
}

#weather .weather-first-card .overlay i {
    transition: hover 0.4s ease;
}

#weather .weather-first-card .overlay a:hover {
    color: #fafa6f;
}

.weather-second {
    width: 80%;
}

.weather-title {
    font-size: 1.3rem;
    text-align: center;
}

.weather-content {
    font-weight: bolder;
    font-size: 2.25rem;
    text-align: center;
}

#intro .intro-first-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12rem;
}

#intro .col-6:nth-of-type(1) .intro-first-card {

}

#intro .col-6:nth-of-type(2) .intro-first-card {

}

#intro .col-6:nth-of-type(3) .intro-first-card {

}

#intro .col-6:nth-of-type(4) .intro-first-card {

}

#intro .intro-first-card .overlay {
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#intro .intro-first-card .overlay a {
    transition: hover 0.4s ease;
}

#intro .intro-first-card .overlay a:hover {
    color: #fafa6f;
}

#random {

}

#random .divider {
    width: 10%;
    margin: 2rem auto;
    border-top: 0.5rem solid rgb(255, 112, 3);
}

#random .random-col .card {
    transition: 0.4s ease;
}

#random .random-col .card:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#random .random-col img {
    height: 13rem;
    object-fit: cover;
    object-position: center;
}

#slogan {
    background-image: url("../images/bg-cta.jpa");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

#slogan .slogan-card {
    background-color: rgba(255, 255, 255, 0.85);
    color: #000000;
    transition: all 0.4s ease;
}

#slogan .slogan-card:hover {
    background-color: #ffffff;
}


#cta {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
}

#cta .section-content {
    background-color: rgba(96, 125, 139, 0.3);
    /*height: 100%;*/
    /*width: 100%;*/
    top: 0;
    left: 0;
}

#find-us .find-us {
    position: absolute;

    /* 아래 두개를 활용하면 위아래 딱 맞게 중간에 배치시킬 수 있음 */
    top: 50%;
    transform: translateY(-50%);

    right: 2rem;
    padding: 1.5rem;
    height: auto;
    background-color: rgba(255, 255, 255, 0.85);
    transition: all 0.4s ease-in;
}

#find-us .find-us:hover {
    background-color: #fff3cd;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#footer .sns img {
    border-radius: 0.75rem;
    transition: 0.4s ease;
}

#footer .sns img:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#footer .footer-1 .footer-logo {
    width: 80%;
}

#footer h4 {
    color: #29407b;
}

#footer li {
    font-size: 1.1rem;
}

#footer .footer-4 i,
#footer .footer-4 p {
    font-size: 1.1rem;
}

#footer .footer-4 .info-body {
    text-indent: -0.75rem;
    margin-left: 0.75rem;
}

#review-add-form fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#review-add-form fieldset legend{
    text-align: right;
}
#review-add-form input[type=radio]{
    display: none;
}
#review-add-form fieldset label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#review-add-form fieldset label:hover{
    text-shadow: 0 0 0 rgba(240, 29, 4, 0.99);
}

#review-add-form fieldset label:hover ~ label{
    text-shadow: 0 0 0 rgba(240, 29, 4, 0.99);
}

#review-add-form fieldset input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(240, 29, 4, 0.99);
}

#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.OPEN {
    background: #F01D04;
}

.BREAK {
    background: #0c4128;
}

.CLOSED {
    background: #6c757d;
    color: #ffffff;
}


.menu-feat-SPICY {
    background: #ff253a;
}

.menu-feat-BEST {
    background: #0c63e4;
}

.menu-feat-SIGN {
    background: #0dcaf0;
}

.menu-feat-SET {
    background: #0c4128;
}

.park-YES {
    color: #0c63e4;
}

.park-NO {
    color: #0b1526;
}

.park-NOPARKINGSPACE {
    color: #ff253a;
}

.star-rating {
    width: 205px;
}

.star-rating, .star-rating span {
    display: inline-block;
    height: 39px;
    overflow: hidden;
    background: url("/images/star/star.png") no-repeat;
}

.star-rating span {
    background-position: left bottom;
    line-height: 0;
    vertical-align: top;
}

.star-rating2 {
    width: 131px;
}

.star-rating2, .star-rating2 span {
    display: inline-block;
    height: 25px;
    overflow: hidden;
    background: url("/images/star/star2.png") no-repeat;
}

.star-rating2 span {
    background-position: left bottom;
    line-height: 0;
    vertical-align: top;
}

a{
    text-decoration:none; color:inherit; cursor: pointer;
}
.right_area .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw * (45 / 1920));
    height: calc(100vw * (45 / 1920));

    border-radius: 50%;
    border: solid 2px #eaeaea;
    background-color: #fff;
}

.icon.heart img{
    width: calc(100vw * (24 / 1920));
    height: calc(100vw * (24 / 1920));
}

.icon.heart.fas{
    color:red
}

.heart{
    transform-origin: center;
}

.heart.active img{
    animation: animateHeart .3s linear forwards;
}


@keyframes animateHeart{
    0%{transform:scale(.2);}
    40%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

.list-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .list-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .list-container {
        width: 940px;
    }
}
.pageInfo {
    list-style: none;
    display: inline-block;
    margin: 50px 0 0 100px;
}

.pageInfo li {
    float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
}

.pageInfo .active {
    background-color: #cdd5ec;
}

.pageInfo a:link {
    color: black;
    text-decoration: none;
}

.pageInfo a:visited {
    color: black;
    text-decoration: none;
}

.pageInfo a:hover {
    color: black;
    text-decoration: underline;
}

#more_list {
    border: 1px solid black;
    margin: 4px;
    padding: 20px;
    background-color: #f7fafc;
}

#login-form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center
}

.btn-social-login {
    transition: all .2s;
    outline: 0;
    border: 1px solid transparent;
    padding: .5rem !important;
    border-radius: 50%;
    color: #fff;
}
.btn-social-login:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}