<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/aragon.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body class="bg-default">
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<!--addForm-->
<section class="add-form">
    <!-- Page content -->
    <div class="container-fluid mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4 fs-2"> 카테고리 등록</div>
                    </div>
                    <form id="category-form">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="form-group d-flex">
                                <div class="input-group input-group-alternative mb-3">
                                    <input th:field="${category.name}" class="form-control" placeholder="카테고리 이름"
                                           type="text"/>
                                </div>
                                <div class="input-group input-group-alternative mb-3">
                                    <select name="categoryId" id="category-select" class="form-select">
                                        <option value="">카테고리 선택</option>
                                        <option th:each="cate : ${all}" th:value="${cate.getCategoryId()}"
                                                th:text="${cate.getName()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-orange mt-4" id="category-add">카테고리 등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer :: common_footer">

</footer>

<script type="module" th:src="@{/js/category.js}"></script>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
</body>
</html>