<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>

    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<body class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<!--addForm-->
<section class="add-form">
    <!-- Page content -->
    <div class="container-fluid mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4 fs-2">메뉴 등록</div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form th:object="${menu}" id="menu-add-form" class="form-floating"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{name}" class="form-control"
                                           placeholder="메뉴 이름" type="text"/>
                                    <div id="menu-name-valid" class="my-1 valid-custom">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{price}" class="form-control"
                                           placeholder="가격" type="text"/>
                                    <div id="menu-price-valid" class="my-1 valid-custom">
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="mb-2">
                                    <span>메뉴 특징</span>
                                </div>
                                <div class="form-group d-flex">
                                    <div th:each="feat : ${menuFeats}">
                                        <input type="radio" th:field="*{feature}" th:value="${feat.name}"/>
                                        <label th:for="${#ids.prev('feature')}" th:text="${feat.description}"
                                               class="form-check-label fw-bold"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="mb-2">
                                    <span>메뉴 타입</span>
                                </div>
                                <div class="form-group d-flex">
                                    <div th:each="t : ${menuTypes}">
                                        <input type="radio" th:field="*{type}" th:value="${t.name}"/>
                                        <label th:for="${#ids.prev('type')}" th:text="${t.description}"
                                               class="form-check-label fw-bold"></label>
                                    </div>
                                </div>
                            </div>
                            <div id="menu-type-valid" class="my-1 valid-custom">
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <label class="fw-bold" th:for="uploadFile">
                                        이미지가 없으면 기본 이미지가 등록됩니다.
                                    </label>
                                    <input th:field="*{file}" class="form-control" type="file"/>
                                    <div id="menu-file-valid" class="my-1 valid-custom">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3">
                                    <input th:field="*{storeId}" class="form-control"
                                           placeholder="매장 번호" type="hidden">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-orange mt-4" id="menu-save">메뉴 등록
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p id="result"></p>
</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script type="module" th:src="@{/js/menu.js}"></script>
<script th:replace="layout/footer :: common_js(~{::script})"></script>

</html>