<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<body id="main-body" class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-5">

    </div>
</section>
<section class="add-form">
    <!-- Page content -->
    <div class="container-fluid mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-center mt-2 mb-4 fs-2 fw-bold">메뉴 수정</div>
                    </div>
                    <th:block th:each="menu, i: ${menuList}">
                        <form class="form-floating mb-3" th:id="|menu-edit-form${i.index+1}|"
                              enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="col-6">
                                        <img th:src="${menu.uploadImgUrl}" width="85%"
                                             alt="메뉴 사진">
                                    </div>
                                    <div class="col-6 align-middle">
                                        <div class="form-group">
                                            <div class="">
                                                <label class="fw-bold" th:for="|menu-edit-name${i.index+1}|">
                                                    메뉴 이름
                                                </label>
                                                <input class="form-control" th:id="|menu-edit-name${i.index+1}|"
                                                       name="name"
                                                       th:value="${menu.name}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <label class="fw-bold" th:for="|menu-edit-price${i.index+1}|">
                                                    상품 가격
                                                </label>
                                                <input class="form-control" th:id="|menu-edit-price${i.index+1}|"
                                                       name="price"
                                                       th:value="${menu.price}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <label class="fw-bold" th:for="|menu-edit-dcPrice${i.index+1}|">
                                                    할인 가격
                                                </label>
                                                <input class="form-control" th:id="|menu-edit-dcPrice${i.index+1}|"
                                                       name="discountPrice"
                                                       th:value="${menu.discountPrice}"/>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <label class="fw-bold" th:for="|menu-edit-dcStart${i.index+1}|">
                                                    할인 시작
                                                </label>
                                                <input class="form-control" th:id="|menu-edit-dcStart${i.index+1}|"
                                                       name="discountStart" type="time"
                                                       th:value="${menu.discountStart}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="">
                                                <label class="fw-bold" th:for="|menu-edit-dcEnd${i.index+1}|">
                                                    할인 종료
                                                </label>
                                                <input class="form-control" th:id="|menu-edit-dcEnd${i.index+1}|"
                                                       name="discountEnd" type="time" th:value="${menu.discountEnd}"/>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="mb-2">
                                                <span>메뉴 타입</span>
                                            </div>
                                            <div class="form-group d-flex text-nowrap">
                                                <div th:each="t, i : ${menuTypes}"
                                                     th:with="check = ${menu.type.name()}">
                                                    <input type="radio" th:id="|type${i.index+1}|" name="type"
                                                           th:checked="${#strings.equals(t.name(), check)}"
                                                           th:value="${t.name()}"/>
                                                    <label th:text="${t.description}"
                                                           class="form-check-label fw-bold"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="mb-2">
                                                <span>메뉴 특징</span>
                                            </div>
                                            <div class="form-group d-flex text-nowrap">
                                                <div th:each="feat, i : ${menuFeats}"
                                                     th:with="check = ${menu.feature.name()}">
                                                    <input type="radio" th:id="|feature${i.index+1}|" name="feature"
                                                           th:checked="${#strings.equals(feat.name(), check)}"
                                                           th:value="${feat.name()}"/>
                                                    <label th:text="${feat.description}"
                                                           class="form-check-label fw-bold"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <span class="mb-2">해쉬태그 추가</span>
                                            <div class="mb-3">
                                                <input th:id="|hashtag${menu.id}|" class="tagify--outside"
                                                       name="hashtag" type="hidden" style="width: 100%">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="text-secondary" th:for="|active-upload${i.index+1}|">
                                                    이미지 업로드를 하시려면 체크해주세요
                                                </label>
                                                <input class="menu-edit-image"
                                                       th:id="|active-upload${i.index+1}|" type="checkbox"/>
                                            </div>
                                            <div class="">
                                                <label class="fw-bold" th:for="|menu-edit-image${i.index+1}|">
                                                    이미지 업로드
                                                </label>
                                                <input th:id="|menu-edit-image${i.index+1}|"
                                                       name="file" type="file" disabled/>
                                                <input id="storeId" th:value="${menu.storeId}" type="hidden"/>
                                                <input th:id="|menuId${i.index+1}|" name="id" th:value="${menu.id}"
                                                       type="hidden"/>
                                            </div>
                                        </div>
                                        <div class="float-end">
                                            <button th:id="|menu-delete-btn${i.index+1}|"
                                                    type="button" class="btn btn-dark mt-4 menu-delete">
                                                삭제
                                            </button>
                                            <button th:id="|menu-edit-btn${i.index+1}|"
                                                    type="button" class="btn btn-main-color mt-4 menu-edit">
                                                수정
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr class="my-2">
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/menu.js}"></script>
<script type="module" th:src="@{/js/hashtag.js}"></script>
</body>
</html>