<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>geolocation 활용</title>
</head>
<body>
<!-- 지도를 만들 div -->
<div id="map" style="width:100%;height:350px;"></div>
<p id="result"></p>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=41d607d49af431e65df64d51940ccfc7&libraries=services,clusterer,drawing"></script>
<script>


// 지도를 담을 div를 찾음
let container = document.getElementById('map');

// 지도에 관한 옵션 부여
let options = {
    center: new kakao.maps.LatLng(33.450701, 126.570667),  // 중심 좌표
    level: 3		// 확대 레벨
};

// 지도 생성
let map = new kakao.maps.Map(container, options);

if ('geolocation' in navigator) {
    navigator.geolocation.getCurrentPosition((position) => {
        var lat = position.coords.latitude,
            lon = position.coords.longitude;

        var currentPosition = new kakao.maps.LatLng(lat, lon);

        map.setCenter(currentPosition);
    })
} else {
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
        message = 'geolocation을 사용할 수 없음'

    map.setCenter(locPosition)
}

// ============================================================================================





</script>
</body>
</html>