<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta charset="utf-8"/>
    <title>우리 동네</title>
</head>
<style>

</style>
<body id="main-body" class="bg-default">
<nav th:replace="layout/navbar :: common_navbar"></nav>

<!--    div class="overlay"는 상위 section id="top"의 위치, 크기와 동일 => position을 relative로 설정-->
<section id="top" class="position-relative">
    <div class="section-content overlay d-flex justify-content-center align-items-center">
        <div class="container-xxl">
            <div class="row align-items-center mt-3">
                <div class="gallery-header text-center mt-5">
                    <h1 class="display-4">주변 인기 스팟 검색</h1>
                    <div class="divider"></div>
                </div>
                <div class="col-md-9 welcome">
                    <div class="row gallery-body">
                        <th:block th:each="root: ${rootCategoryList}">
                            <div class="col-md-6 col-sm-6 mb-4 gallery-item">
                                <div class="card card-body category-div border-0 p-0">
                                    <div class="overlay d-flex flex-column justify-content-center
                                            align-items-center h-100 w-100 border-2">
                                        <h2 th:text="${root.name}" class="gallery-title">카테고리 이름</h2>
                                    </div>
                                    <input id="index-category" class="index-category" name="categoryId"
                                           type="hidden" th:value="${root.categoryId}">
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <!--   d-none으로 일단 모든 기기에서 안 보기에 설정 => d-md-block로 md 이상에선 보이게 다시 설정 => 최종적으로 sm 이하에선 안 보임-->
                <div class="col-md-3 d-none d-md-block letsgo">
                    <div class="card card-body letsgo-card">
                        <div class="letsgo my-3">
                            <h4 class="lestgo-title card-title text-dark mb-3">인기 스팟 직접 검색</h4>
                            <p class="card-text text-secondary">
                                <th:block th:if="${session.loginMember eq null}">
                                    회원님이 원하시는 장소를 <br/>
                                    필터에 맞게 보여드려요!
                                </th:block>
                                <th:block th:if="${session.loginMember ne null}">
                                    <span th:type="${session.loginMember.getUsername()}"></span>님이 원하시는 장소를 <br/>
                                    필터에 맞게 보여드려요!
                                </th:block>
                            </p>
                        </div>
                        <div class="letsgo-card-form">
                            <form>
                                <p class="mb-3">
                                    <button class="btn btn-orange w-100" type="button" onclick=location.href="map">이동
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-divider"></div>
<section id="weather">
    <div class="section-content">
        <div class="container weather">
            <div class="row align-items-center">
                <div class="col-md-6 weather-first">
                    <div class="row px-md-3">
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 weather-first-card border-0">
                                <div id="sky-status"
                                     class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100">

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 weather-first-card border-0">
                                <div id="tmp"
                                     class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100">

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 weather-first-card border-0">
                                <div id="pop"
                                     class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100">

                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 weather-first-card border-0">
                                <div id="pm-10-value"
                                     class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 weather-second">
                    <h1 class="mb-4">날씨에 어울리는 장소 추천</h1>
                    <div class="weather-text">
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis dolor ea
                            eveniet illum incidunt itaque magnam odio voluptates, voluptatum.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate
                            eligendi et facere illum incidunt inventore magnam quam quod vitae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-divider"></div>
<section id="intro">
    <div class="section-content">
        <div class="container intro">
            <div class="row align-items-center">
                <div class="col-md-6 intro-first">
                    <div class="row px-md-3">
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                                <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none">Link 1</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                                <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none">Link 2</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                                <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none">Link 3</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-body my-3 position-relative rounded-3 shadow-lg intro-first-card">
                                <div class="overlay d-flex justify-content-center align-items-center position-absolute h-100 w-100 shadow-lg">
                                    <h3 class="fw-light">
                                        <a href="#" class="link-light text-decoration-none">Link 4</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 intro-second">
                    <h5 class="fw-light">Greetings!</h5>
                    <h1 class="mb-4">Introduce Our Website.</h1>
                    <div class="intro-text">
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis dolor ea
                            eveniet illum incidunt itaque magnam odio voluptates, voluptatum.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate
                            eligendi et facere illum incidunt inventore magnam quam quod vitae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-divider"></div>
<section id="services">
    <div class="section-content">
        <div class="container services">
            <div class="services-header text-center mb-5">
                <h1 class="display-5">Our Amazing Services</h1>
                <div class="divider"></div>
                <p class="lead text-secondary">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis doloremque esse in iure
                    minima nam odit possimus repellat voluptates?
                </p>
            </div>
            <div id="slick-slide" class="services-body">
                <div class="services-col mx-2 my-3">
                    <div class="card">
                        <a href="#">
                            <img src="" alt="" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Slide Title</h4>
                            <p class="card-text fw-light mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam doloremque
                                ducimus expedita fugiat hic quam quis recusandae, vel vero.
                            </p>
                            <a href="#" class="btn btn-primary">View More...</a>
                        </div>
                    </div>
                </div>
                <div class="services-col mx-2 my-3">
                    <div class="card">
                        <a href="#">
                            <img src="" alt="" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Slide Title</h4>
                            <p class="card-text fw-light mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam doloremque
                                ducimus expedita fugiat hic quam quis recusandae, vel vero.
                            </p>
                            <a href="#" class="btn btn-primary">View More...</a>
                        </div>
                    </div>
                </div>
                <div class="services-col mx-2 my-3">
                    <div class="card">
                        <a href="#">
                            <img src="" alt="" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Slide Title</h4>
                            <p class="card-text fw-light mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam doloremque
                                ducimus expedita fugiat hic quam quis recusandae, vel vero.
                            </p>
                            <a href="#" class="btn btn-primary">View More...</a>
                        </div>
                    </div>
                </div>
                <div class="services-col mx-2 my-3">
                    <div class="card">
                        <a href="#">
                            <img src="" alt="" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Slide Title</h4>
                            <p class="card-text fw-light mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam doloremque
                                ducimus expedita fugiat hic quam quis recusandae, vel vero.
                            </p>
                            <a href="#" class="btn btn-primary">View More...</a>
                        </div>
                    </div>
                </div>
                <div class="services-col mx-2 my-3">
                    <div class="card">
                        <a href="#">
                            <img src="" alt="" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Slide Title</h4>
                            <p class="card-text fw-light mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam doloremque
                                ducimus expedita fugiat hic quam quis recusandae, vel vero.
                            </p>
                            <a href="#" class="btn btn-primary">View More...</a>
                        </div>
                    </div>
                </div>
                <div class="services-col mx-2 my-3">
                    <div class="card">
                        <a href="#">
                            <img src="" alt="" class="card-img-top">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Slide Title</h4>
                            <p class="card-text fw-light mb-4">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam doloremque
                                ducimus expedita fugiat hic quam quis recusandae, vel vero.
                            </p>
                            <a href="#" class="btn btn-primary">View More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-divider"></div>
<section id="slogan">
    <div class="section-content d-flex align-items-center h-100">
        <div class="container slogan">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body slogan-card">
                        <h1 class="mb-3 mb-3">Our Slogan</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eius
                            excepturi labore laborum minus modi qui quisquam quo sed, voluptates.</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, quae!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-divider"></div>
<section id="features">
    <div class="section-content">
        <div class="container features">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card card-body shadow border-0 features-card">
                        <h4 class="card-title mb-3">
                            <span class="fw-bold">1</span>
                            Feature 1
                        </h4>
                        <p class="card-text fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dignissimos in omnis veniam. Dolore et maiores necessitatibus obcaecati, quo temporibus
                            veniam.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card card-body shadow border-0 features-card">
                        <h4 class="card-title mb-3">
                            <span class="fw-bold">2</span>
                            Feature 2
                        </h4>
                        <p class="card-text fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dignissimos in omnis veniam. Dolore et maiores necessitatibus obcaecati, quo temporibus
                            veniam.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card card-body shadow border-0 features-card">
                        <h4 class="card-title mb-3">
                            <span class="fw-bold">3</span>
                            Feature 3
                        </h4>
                        <p class="card-text fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Dignissimos in omnis veniam. Dolore et maiores necessitatibus obcaecati, quo temporibus
                            veniam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-divider"></div>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/weather.js}"></script>
<script type="module" th:src="@{/js/app.js}"></script>
</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
</html>