<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>
        .input-group {
            border: 1px solid #F01D04;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;">
        <a href="/" class="navbar-brand align-middle fw-bold main-color fs-4">
            우리동네
        </a>
        <div class="input-group my-3">
            <input type="text" id="keyword" class="form-control shadow-none"
                   style="border: none; border-radius: 10px; font-weight: bold">
            <button type="button" id="searchBtn" class="btn btn-link main-color shadow-none">
                <i class="fa-solid fa-magnifying-glass fa-lg" style="size: 20px 20px"></i>
            </button>
        </div>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    거리 설정
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="ms-3 mt-2 mb-1">
                            <label>
                                <input name="dist" type="radio" value="300"/>
                                <span class="radio-span">300m</span>
                            </label>
                        </li>
                        <li class="ms-3 mb-1">
                            <label>
                                <input name="dist" type="radio" value="500"/>
                                <span class="radio-span">500m</span>
                            </label>
                        </li>
                        <li class="ms-3 mb-1">
                            <label>
                                <input name="dist" type="radio" value="1000"/>
                                <span class="radio-span">1km</span>
                            </label>
                        </li>
                        <li class="ms-3 mb-1">
                            <label>
                                <input name="dist" type="radio" value="3000"/>
                                <span class="radio-span">3km</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    카테고리
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul id="map-category" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <th:block th:if="${session.loginMember != null}">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        내 정보
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="d-inline-flex text-decoration-none rounded">찜 목록</a></li>
                            <li><a href="#" class="d-inline-flex text-decoration-none rounded">마이 페이지</a></li>
                            <li><a href="/logout" class="d-inline-flex text-decoration-none rounded">로그아웃</a></li>
                        </ul>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
    <div class="container-fluid map-wrap px-0">
        <div id="map" class="map-wrap"></div>
        <div class="custom-located radius-border">
            <span id="moveToCurrentLocationBtn" class="m-auto">
                <img src="/images/main/current_location.png" alt="현재위치로 이동">
            </span>
        </div>
    </div>
</main>
<script th:replace="layout/footer :: common_js(~{::scipt})"></script>
<script type="module" th:src="@{/js/map.js}"></script>
</body>
</html>