<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>
        .input-group {
            border: 1px solid #fd7e14;
            border-radius: 10px;
        }

        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
<main class="d-flex flex-nowrap">
    <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <img src="/images/main/logo_orange.jpg" alt="Logo" width="50px" height="24px">
        </a>
        <div class="input-group mb-3">
            <input type="text" id="keyword" class="form-control shadow-none"
                   style="border: none; border-radius: 10px; font-weight: bold">
            <button type="button" id="searchBtn" class="btn btn-link shadow-none" style="color: #fd7e14">
                <i class="fa-solid fa-magnifying-glass fa-lg" style="size: 20px 20px"></i>
            </button>
        </div>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    거리 설정
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="ms-3 mt-2 mb-1">
                            <label>
                                <input name="dist" type="radio" value="300"/>
                                <span class="radio-span">300m</span>
                            </label>
                        </li>
                        <li class="ms-3 mb-1">
                            <label>
                                <input name="dist" type="radio" value="500"/>
                                <span class="radio-span">500m</span>
                            </label>
                        </li>
                        <li class="ms-3 mb-1">
                            <label>
                                <input name="dist" type="radio" value="1000"/>
                                <span class="radio-span">1km</span>
                            </label>
                        </li>
                        <li class="ms-3 mb-1">
                            <label>
                                <input name="dist" type="radio" value="3000"/>
                                <span class="radio-span">3km</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    카테고리
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul id="map-category" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <th:block th:if="${session.loginMember != null}">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        내 정보
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="d-inline-flex text-decoration-none rounded">찜 목록</a></li>
                            <li><a href="#" class="d-inline-flex text-decoration-none rounded">마이 페이지</a></li>
                            <li><a href="/logout" class="d-inline-flex text-decoration-none rounded">로그아웃</a></li>
                        </ul>
                    </div>
                </li>
            </th:block>
        </ul>
    </div>
    <div class="container-fluid map-wrap px-0">
        <div id="map" class="map-wrap"></div>
        <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
        <div class="custom_zoomcontrol radius_border">
            <span id="moveToCurrentLocationBtn" class="m-auto">
                <img src="/images/main/current_location.png" alt="현재위치로 이동">
            </span>
        </div>
    </div>
    <!--    <div class="container-fluid" id="map" style="height: 100%"></div>-->
</main>
<script th:inline="javascript">

    // 지도를 담을 div를 찾음
    var mapContainer = document.getElementById('map');

    // 지도에 관한 옵션 부여
    var mapOptions = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),  // 중심 좌표
        level: 1		// 확대 레벨
    };

    // 지도 생성
    var map = new kakao.maps.Map(mapContainer, mapOptions);

    // var zoomControl = new kakao.maps.ZoomControl();
    // map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    // 현재 위치를 담기 위한 변수
    var currentPosition;

    var pointerSrc = "../images/main/blink_pointer.gif",
        pointerSize = new kakao.maps.Size(25, 25);

    var pointerImage = new kakao.maps.MarkerImage(pointerSrc, pointerSize);

    // 현재 위치로 맵 중심 정렬 - geolocation (배포시, https 필수)
    if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition((position) => {
            var lat = position.coords.latitude,
                lon = position.coords.longitude;

            currentPosition = new kakao.maps.LatLng(lat, lon);

            var marker = new kakao.maps.Marker({
                position: currentPosition,
                image: pointerImage
            })

            marker.setMap(map);

            map.setCenter(currentPosition);
        })
    } else {
        var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
            message = 'geolocation을 사용할 수 없음'

        map.setCenter(locPosition)
    }

    // ============================================================================================
</script>
<script th:replace="layout/footer :: common_js(~{::scipt})"></script>
<script type="module" th:src="@{/js/map.js}"></script>
</body>
</html>