<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: common_header(~{::title}, ~{::style}) ">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>우리 동네</title>
    <style>

    </style>
</head>
<link rel="stylesheet" th:href="@{/css/argon.css}">
<body id="main-body" class="bg-default">
<!-- Navbar -->
<nav th:replace="layout/navbar :: common_navbar"></nav>
<!-- Header -->
<section class="header">
    <div class="header py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</section>
<!-- Page content -->
<div class="container-fluid mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>전화번호 수정</small>
                    </div>
                    <form th:object="${form}" id="phoneNumber-edit-form" class="form-floating">
                        <div class="form-group">
                            <small>전화번호</small>
                            <div class="d-flex">
                                <input th:field="*{phoneNumber}" class="form-control"
                                       placeholder="전화번호를 입력해주세요. 예) 01012341234" type="text">
                                <button type="button" class="text-center btn btn-main-color ms-3"
                                        style="height: 3rem" id="send-SMS">인증번호 받기
                                </button>
                            </div>
                            <div id="edit-phoneNumber-valid" class="my-1 valid-custom"></div>
                        </div>
                        <div class="form-group">
                            <small>인증번호</small>
                            <div class="">
                                <input class="form-control" placeholder="인증번호를 입력해주세요." type="text"
                                       th:field="*{certifiedNumber}">
                                <div id="edit-certifiedNumber-valid" class="my-1 valid-custom"></div>
                            </div>
                            <span id="send-SMS-time"></span>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-main-color mt-4" id="phoneNumber-edit">전화번호 변경</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="layout/footer :: common_footer">
    템플릿 푸터
</footer>
<script th:replace="layout/footer :: common_js(~{::script})"></script>
<script type="module" th:src="@{/js/member.js}"></script>

</html>